html {
  background-color: #fff;
}

body {
  background-color: #eee;
  margin: auto;
  height: 100vmin;
  width: 100vmin;
}

.drum-machine__container {
  background-color: #ccc;
  height: 90%;
  width: 90%;
  margin: auto;

}

.top-margin {
  width: 100%;
  height: 5%;
}

.display__container {
  width: 100%;
  height: 10%;
  display: inline-block;
}

.display__top-margin {
  width: 100%;
  height: 10%;
}

.display {
  font-family: 'VT323', monospace;
  text-transform: uppercase;
  width: 90%;
  height: 80%;
  margin: auto;
  background-color: #222;
  color: #5d5;
  font-size: 5vmin;
  border-radius: 10px;
}


.pads__container {
  height: 88%;
  width: 90%;
  background-color: #88a;
  margin: auto;
}

.pad-row {
  width: 100%;
  height: 33.33%;
  background-color: #a88;
  border: 1px solid black;
  display: flex;
}

.single-pad__container {
  height: 100%;
  width: 33.33%;
  border: 1px solid black;
}

.single-pad__top-margin {
  width: 100%;
  height: 5%;
}


.drum-pad {
  height: 90%;
  width: 90%;
  margin: auto;
}